@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans-Regular.ttf');
}

@maincolor: #027dc3;
@maincolor-h: lighten(@maincolor, 10%);
@maincolor2: #606160;
@maincolor2-h: lighten(@maincolor2, 10%);
@maincolor3: #ffffff;

//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
a {
	text-decoration: none;
}
body {
	line-height: 1;
	font-family: 'NotoSans';
	color: @maincolor2;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -157px;
}
#wrapper:after {
  content: "";
  display: block;
  background: url('../img/bgpattern.png') repeat #fff;
}
footer, #wrapper:after {
  height: 157px;
}
.clear {
	clear: both;
}
.inner {
	width: 1270px;
	margin-left: auto;
	margin-right: auto;
}
header {
	width: 100%;
	min-width: 1270px;
	background: @maincolor3;
	padding-top: 20px;

	.inner {

		#menutop {
			float: left;

			ul {

				li {
					display: inline-block;
					margin-right: 15px;

					a {
						color: @maincolor;
						font-size: 13px;
					}
					a:hover, a.current {
						color: @maincolor-h;
					}
				}
			}
		}
		#contactstop {
			float: right;
			margin-right: 65px;

			span {
				color: @maincolor;
				font-size: 13px;
				margin-right: 15px;
			}
		}
		#logo {
			display: block;
			width: 120px;
			height: 76px;
			background: url('../img/logo.png') no-repeat;
			margin: 45px auto 60px auto;
		}
	}
}
#content {

  #sliderwrapper {
    height: 255px;
    background: #047fc5;
  }
  #slidertop {
    width: 1270px;
    height: 255px;
    position: relative;

    .slide {
      text-align: center;

      .slide-inner {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 1270px;
          height: 255px;
          -moz-opacity: 0.3;
          -webkit-mask-image:  linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
        }
        .slide-block-wrapper {
          position: absolute;
          top: 23%;
          left: 0;

          .slide-block {
            position: relative;
            width: 1270px;

            h1, p {
              line-height: 24px;
            }
            h1 {
              font-size: 36px;
              color: #ffffff;
            }
            .text-block {
              margin-top: 20px;
              margin-bottom: 20px;

              p {
                font-size: 14px;
                color: #ffffff;
              }
            }
            .more {
              margin-top: 20px;
              background: rgba(255, 255, 255, 0.1);
              border: 1px solid #74b4d9;
              border-radius: 7px;
              color: #ffffff;
              font-size: 14px;
              padding: 5px 15px;
            }
            .more:hover {
              background: @maincolor3;
              border: @maincolor3;
              color: @maincolor;
            }
          }
        }
      }
    }
    #slider-nav {
      position: absolute;
      left: 50%;
      bottom: 15px;
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        width: 25px;
        height: 5px;
        border-radius: 2px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #74b4d9;
        text-indent: -9999px;
      }
      li:hover {
        cursor: pointer;
      }
      li.active {
        background: #ffffff;
      }
    }
  }
  #contentwrapper {
    background: url('../img/bgpattern.png') repeat #fff;

    #breadcrumbs-empty {
      padding-top: 50px;
    }
    #breadcrumbs {
      padding-top: 5px;
      padding-bottom: 30px;

      ul {

        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;

          a {
            font-size: 12px;
            color: @maincolor2-h;
          }
          a:hover {
            color: @maincolor2;
          }
        }
        li:after {
          content: '»';
          font-size: 12px;
          margin-left: 10px;
          color: @maincolor2-h;
        }
        li:last-child:after {
          content: '';
        }
      }
    }
    #menuleft {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      width: 270px;

      ul {

        li {
          margin-bottom: 12px;
          
          a {
            font-size: 16px;
            color: @maincolor;
          }
          a:hover, a.current {
            color: @maincolor-h;
          }
        }
      }
      .second-level {
        display: none;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;

        li {
          margin-bottom: 8px;

          a {
            font-size: 14px;
            color: @maincolor2;
          }
          a.current, a:hover {
            color: @maincolor2-h;
          }
        }
      }
    }
    #blockright {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      padding-bottom: 60px;
      width: 1000px;
      text-align: center;

      h1 {
        font-size: 24px;
        color: @maincolor;
        width: 730px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
      .text-block {
        padding: 0 15px;
        padding-bottom: 20px;

        p {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      #productionmain {

        #production-wrapper {

          .production-block {
            background: #ffffff;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            border: 1px solid lighten(@maincolor2-h, 30%);
            width: 315px;
            height: 438px;
            float: left;
            margin-right: 16px;
            margin-bottom: 15px;

            text-align: left;

            .inner-wrapper {
              padding: 15px 50px 0 40px;
            }
            img {
              width: 235px;
              height: 200px;
              margin-bottom: 10px;
            }
            .title {
              font-size: 14px;
              color: @maincolor;
            }
            .title:hover {
              color: @maincolor-h;
            }
            .text-block {
              margin-top: 15px;
              height: 130px;
              overflow: hidden;
              padding: 0;

              p {
                padding: 0;
                font-size: 14px;
              }
            }
            .more {
              width: 100%;
              display: block;
              background: #f5f5ff;
              font-size: 14px;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
              color: @maincolor;
              border-bottom-right-radius: 7px;
              border-bottom-left-radius: 7px;
            }
            .more:hover {
              color: @maincolor-h;
            }
          }
        }
      }
      .advantages {
        text-align: left;

        ul {

          li {
            margin-bottom: 5px;
          }
          li:before {
            content: "•";
            margin-right: 5px;
            color: @maincolor;
          }
        }
      }
      .contacts {
        text-align: left;

        p {
          line-height: 22px;
        }
      }
      #product {
        border: 1px solid lighten(@maincolor2-h, 30%);
        width: 930px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        padding: 10px 15px 10px 35px;
        margin-bottom: 65px;

        img {
          width: 240px;
          height: 220px;
          float: left;
          margin-right: 60px;
        }
        .desc {
          text-align: left;

          .productdesc {

            p {
              font-size: 14px;
              margin-bottom: 5px;
            }
          }
          .param {

            p {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
      #contacts-page {
        margin-top: 40px;
        
        .map {
          float: left;
          margin-right: 20px;

          * {
            width: 495px;
            height: 330px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
          }
        }
        .text-block {
          text-align: left;

          .desc {
            padding-top: 40px;
            margin-bottom: 20px;
          }
          .addr {

            p {
              line-height: 20px;
            }
          }
        }
      }
      #feedback {
        margin-top: 15px;
        text-align: left;

        h1 {
          text-align: left;
          display: inherit;
          width: auto;
        }
        input, textarea {
          color: @maincolor2;
          font-family: 'NotoSans';
          outline: none;
          border: 1px solid lighten(@maincolor2-h, 40%);
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          padding: 7px 10px;
        }
        input[type=email] {
          width: 380px;
          margin-bottom: 15px;
        }
        textarea {
          width: 950px;
          height: 140px;
          resize: none;
        }
        input[type=submit] {
          margin-top: 20px;
          display: block;
          width: 130px;
          color: #ffffff;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-left: auto;
          margin-right: auto;
          background: @maincolor;
          border: 1px solid lighten(@maincolor2-h, 40%);
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
        }
        input[type=submit]:hover {
          background: transparent;
          color: @maincolor;
          cursor: pointer;
        }
      }
      .articles {

        .production-block {
          width: 480px !important;
          height: 260px !important;
          margin-left: 8px;
          margin-right: 7px !important;

          .inner-wrapper {
            padding: 15px 30px 0 10px !important;
          }
          img {
            float: left;
            margin-right: 10px;
          }
        }
      }
      #pagination {
        margin-top: 40px;
        text-align: center;

        li {
          display: inline-block;
          vertical-align: top;
          margin-right: -4px;

          a {
            padding: 2px 10px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            color: @maincolor;
          }
          a:hover, a.current {
            color: #ffffff;
            background: @maincolor;
          }
        }
      }
    }
  }
}
footer {
  width: 100%;
  min-width: 1270px;
  background: @maincolor;
  padding: 30px 0 50px 0;
  
  #contactsbottom {
    margin-left: 10px;
    float: left;
    width: 495px;

    .main {
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .contacts {

      p {
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
      }
      .addr, .phones {
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
      }
      .addr {
        width: 190px;
      }
      .phones {
        margin-left: 65px;
        width: 155px;
      }
    }
  }
  #hodlogo {
    display: block;
    margin-right: 15px;
    float: right;
  }
  #copyrights {
    margin-top: 55px;
    text-align: center;

    p {
      font-size: 14px;
      color: #ffffff;
    }
  }
}